.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #026aa7;
    height: 44px;
    padding: 6px 4px;

    &.board { 
        background-color: rgba(0, 0, 0, 0.45);
        backdrop-filter: blur(6px);
    }

    // body.homepage & {
    //     background-color: red;
    // }

    .nav-options {
        display: flex;
        align-items: center;

        // HOME CONTAINER
        .home-icon-container {
            padding: 4px 6px;

            &:hover {
                background-color: lighten(#026aa7, 5%);
                border-radius: 5px;
            }

            .home-icon {
                color: whitesmoke;
                margin: 0px;
                font-size: 24px;
            }
        }

        // LOGO CONTAINER
        .logo-container {
            display: flex;
            align-items: center;
            padding: 6px;

            &:hover {
                background-color: lighten(#026aa7, 5%);
                border-radius: 5px;
            }

            p {
                margin-bottom: 0;
                color: whitesmoke;
            }

            .trello-icon {
                color: whitesmoke;
                font-size: 20px;
                margin-right: 5px;
            }

            .logo {
                font-size: 20px;
            }
        }

        .boards-selector { 
            padding: 6px;
            color: whitesmoke;

            &:hover {
                background-color: lighten(#026aa7, 5%);
                border-radius: 5px;
            }
        }
    }

    .signup-btn {
        padding: 4px 8px;
        border-radius: 5px;
        border: none;
        background-color: inherit;
        color: whitesmoke;
    }

    .login-btn {
        padding: 4px 8px;
        border-radius: 5px;
        border: none;
    }
}
