.app-header {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #026aa7;
    height: 44px;
    padding: 6px 10px;
    &.board {
        background-color: rgba(0, 0, 0, 0.45);
        backdrop-filter: blur(6px);
    }

    .nav-options {
        display: flex;
        align-items: center;
        // HOME CONTAINER
        .home-icon-container {
            padding: 6px 6px 0px;
            border-radius: 5px;
            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }
        // LOGO CONTAINER
        .logo-container {
            padding: 0 6px;
            display: flex;
            align-items: center;
            border-radius: 5px;
            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }

            .trello-icon {
                margin-right: 5px;
            }
            .logo {
                padding-top: 6px;
                font-family: Secular, sans-serif;
                letter-spacing: 0.02em;
                font-weight: 400;
            }
        }

        .boards-selector {
            padding: 6px;
            border-radius: 5px;
            color: whitesmoke;
            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }
    }
    .signup-btn {
        padding: 9px 8px;
        border-radius: 5px;
        border: none;
    }
    .login-btn {
        padding: 9px 8px;
        border-radius: 5px;
        border: none;
    }

    body.homepage & {
    }

    .user-section {
        display: flex;
        align-items: center;

        :not(:last-child) {
            margin-right: 13px;
        }

        .bell-icon-container {
            background-color: inherit;
            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
            .bell-icon {
                padding: 9px 8px;
                border-radius: 5px;
                border: none;
                color: whitesmoke;
                font-size: 15px;
            }
        }

        .avatar-image { 
            border-radius: 25em;
            height: 35px;
            width: 35px;
            cursor: pointer;
        }
    }

    // Login- Signup
    &.login-signup {
        display: none;
    }

    // Home
    &.home {
        background-color: inherit;
        height: 68px;
        padding: 16px;
        .trello-icon {
            color: #0052cc;
            font-size: 24px;
            margin-right: 5px;
        }
        .logo {
            padding-top: 6px;
            font-family: Secular, sans-serif;
            letter-spacing: 0.02em;
            // font-weight: 400;
            color: #293856;
            font-size: rem(32px);
            margin-bottom: 0;
        }

        .signup-btn {
            background-color: #0065ff;
            color: white;
            padding: 0.25rem 0.5rem;
            font-size: 1.09375rem;
            line-height: 1.5;
            border-radius: 0.2rem;
            font-weight: bold;
            font-family: "Charlie Text", sans-serif;
            &:hover {
                background-color: #0051cc;
            }
        }

        .login-btn {
            background-color: inherit;
            color: #0065ff;
            padding: 0.25rem 0.5rem;
            font-size: 1.09375rem;
            line-height: 1.5;
            border-radius: 0.2rem;
            font-weight: 400;
            font-family: "Charlie Text", sans-serif;

            &:hover {
                text-decoration: underline #0065ff;
            }
        }
    }

    // Genereal
    &.general {
        .home-icon {
            color: whitesmoke;
            margin: 0px;
            font-size: 24px;
        }

        .logo-container {
            p {
                margin-bottom: 0;
                color: whitesmoke;
            }

            .trello-icon {
                color: whitesmoke;
                font-size: 20px;
            }

            .logo {
                color: whitesmoke;
                font-size: 20px;

            }
        }
        .signup-btn {
            background-color: inherit;
            color: whitesmoke;
            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }

        .login-btn {
            background-color: inherit;
            color: whitesmoke;

            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }
    }
}
