.app-header {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #026aa7;
    height: 44px;
    padding: 6px 4px;
    &.board {
        background-color: rgba(0, 0, 0, 0.45);
        backdrop-filter: blur(6px);
    }
    // body.homepage & {
    //     background-color: red;
    // }
    .nav-options {
        display: flex;
        align-items: center;
        // HOME CONTAINER
        .home-icon-container {
            padding: 6px 6px 0px;
            border-radius: 5px;
            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
            .home-icon {
                color: whitesmoke;
                margin: 0px;
                font-size: 24px;
            }
        }
        // LOGO CONTAINER
        .logo-container {
            display: flex;
            align-items: center;
            padding: 6px;
            border-radius: 5px;
            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
            p {
                margin-bottom: 0;
                color: whitesmoke;
            }
            .trello-icon {
                color: whitesmoke;
                font-size: 20px;
                margin-right: 5px;
            }
            .logo {
                font-size: rem(20px);
                font-family: Secular, sans-serif;
                letter-spacing: 0.02em;
                font-weight: 400;
                color: whitesmoke;
            }
        }
        .boards-selector {
            padding: 6px;
            border-radius: 5px;
            color: whitesmoke;
            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }
    }
    .signup-btn {
        padding: 9px 8px;
        border-radius: 5px;
        border: none;
        background-color: inherit;
        color: whitesmoke;

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
    .login-btn {
        padding: 9px 8px;
        border-radius: 5px;
        border: none;
        background-color: inherit;
        color: whitesmoke;

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
}
