.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #026aa7;
    height: 44px;
    padding: 6px 4px;

    .nav-options { 
        display: flex;
        align-items: center;
        
        .home-icon {
            color: whitesmoke;
            margin: 0px 6px;
            font-size: 24px;
        }
    }
}
