.archive-container{
    background-color: #FDFAE5;
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 75%, transparent 75%, transparent);
    background-size: 14px 14px;
    min-height: 30px;
    padding: 12px 12px 12px 50px;
    position: relative;

    span{
        position: absolute;
        top: 12px;
        left: 12px;
    }

    p{
        font-size: 16px;
        line-height: 30px;
        margin: 0;
    }
}