.board-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
    grid-auto-rows: 140px;
    gap: 16px;
    .board-preview {
        cursor: pointer;
        height: 100%;
        border-radius:5px;
        position: relative;
    }

    .star-icon{
        font-size: 1.3rem;
        position: absolute;
        top: 5px;
        right: 5px;
        &.favorite{
            color: gold
        }
    }

}
