.board-header{
    padding: 12px 4px 4px 8px;
    position: relative;
    top: 50px;
    margin-bottom: 55px;
    position: absolute;
    top: 40px;
    width: 100%;
    .header-title{
        font-size: 18px;
        font-weight: 700;
        height: 32px;
        border-radius: 3px;
        cursor: text;
        min-width: 30px;
        padding: 7px 5px;
        margin: 0;
        color: #fff;
        background-color: hsla(0,0%,100%,.23921568627450981);
        max-width: 185px;
        text-overflow: ellipsis;
    }

    .nav-btn.fav,.add-member{
        margin: 0 5px;
        svg{
            color: #fff;
            font-size: 18px;
        }
    }

}

.nav-btn{

    background-color: hsla(0,0%,100%,.23921568627450981);
        padding: 5px;
        width: fit-content;
        border-radius: 3px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;

    button{
        border: none;
        outline: none;
        background:none;
    }

    &:hover{
        background-color: rgba(255, 255, 255, 0.459);
    }
}

.nav-right{

    .nav-btn{
        padding: 8px;
    }
    gap: 10px;
    button{
        border: none;
        gap: 5px;
    }
}

.nav-members{
    .member-avatar{
        background-color: #ff7c6a;
    }
}