.dates-modal {
    .details-container {
        -webkit-transform: translate3d(0, 0, 0);
        overflow-x: hidden;
        overflow-y: auto;
        padding: 12px;

    }

    .secondary-btn {
        width: 100%;
    }
}