.attachment-modal-content{

    padding: 0px 12px 12px;
    .upload-pc-container{
    margin-bottom: 7px;
    border-bottom: 1px solid #091e4221;

        label{
            padding: 6px 12px;
            margin: 0 7px;
            height: 32px;
            line-height: 30px;
            width: 20rem;
            cursor: pointer;
        }

        input{
            opacity: 0;
        }
    }

    .upload-url-container{
        label{color: #5e6c84;
        display: block;
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        margin-bottom: 4px;
        margin-top: 12px;}

        input{
            margin: 4px 0 12px;
            width: 100%;
            outline: none;
            border: none;
            box-shadow: inset 0 0 0 2px #dfe1e6;
            background-color: #fafbfc;
            border-radius: 3px;
            display: block;
            line-height: 20px;
            padding: 8px 12px;
            color: #172b4d;
            font-size: 14px;
        }
    }

    button{
        background-color: #091e420a;
        border: none;
        box-shadow: none;
        cursor: pointer;
        display: inline-block;
        font-weight: 400;
        line-height: 20px;
        margin: 8px 4px 0 0;
        padding: 6px 12px;
        text-align: center;
    }
}