.group-preview { 
    min-width: 17rem;
    // overflow: hidden;
    border-radius: 3px;
    background-color: #dfe3e6;
    width: 300px;
    padding: 0 8px;
    margin-bottom: 0;
    height: fit-content;
    max-width: 272px;
    max-height: 80vh;
    margin-inline-end: 8px;

    .add-btn{
        align-items: center;
        border-radius: 3px;
        height: 35px;
        width: 262px;
        gap: 5px;
        color: rgb(94, 108, 132);
        cursor: pointer;

        p{
            margin:0
        }

        svg.icon{
            font-size: 15px;
        }

        &:hover{
            background-color: #d3d3d3;
        }
    }
}

.add-task-open.group{
    height: 100%;
    padding: 4px;
    min-width: 17rem;
    overflow: hidden;
    border-radius: 3px;
    background-color: #ebecf0;
    padding: 0 8px;
}