.popover-side-menu{
    background-color: $clr1;
    position: absolute;
    top: 100px;
    right: 0px;
    width: 400px;
    height: calc(100vh - 100px);
    border: 1px solid lightgray;
    border-radius: 3px;

    .popover-header{
        text-align: center;
        margin: 0 auto;
        color: #172b4d;
        font-weight: 600;
        margin: 0 0 12px;
        line-height: 40px;
        overflow: hidden;
        position: relative;
        border-bottom: 1px solid rgba(9,30,66,.13);
       
        
        span{
            text-align: center;
            margin: 0 auto;
        }

        color: #5e6c84;
        padding: 0 32px;
        text-overflow: ellipsis;
    }
}