.labels-filter-list{
    // margin-top: 20px !important;
    .labels-filter-preview{

    display: flex;
    align-items: center;
   
    .label-filter-container{


        .check-box-blank{
            cursor: pointer;
            height: 19px;
            width: 19px;
            color: #dfe1e6;
        }

        .check-box-checked{
            cursor: pointer;
            height: 19px;
            width: 19px;
          color: #0079bf;
        }
    }

    .label-preview-bg{
        width: 80%;
        height: 32px;
        border-radius: 3px;
        margin-left: 20px;
        margin-bottom: 9px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}}

