.sidemenu-main-content.filter-container{

    .sub-title{
        color: #5e6c84;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        margin-top: 16px;
        margin-bottom: 8px
    }

    .search-container{


        input{
            outline: none;
            border: none;
            box-sizing: border-box;
            color: #172b4d;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            transition-property: background-color, border-color, box-shadow;
            transition-duration: 85ms;
            transition-timing-function: ease;
            border-radius: 3px;
            padding: 8px 12px;
            box-shadow: inset 0 0 0 2px #dfe1e6;
            background-color: #fafbfc;
            width: 100%;
            margin-bottom: 0;
        }

    }
    .sub-info-title{
        color: #5e6c84;
        font-size: 11px;
        line-height: 14px;
        margin-top: 8px;
        margin-bottom: 4px;
    }

    ul{
        list-style: none;
        margin: 0;
        padding: 0;

        li{

            .user-preview-container{
                margin: 0;
                padding: 8px;
                padding-right: 0;
                cursor: pointer;
                box-sizing: border-box;
                position: relative;
                display: inline-flex;
                align-items: center;
                color: #5e6c84;
                display: block;
                font-size: 12px;
                font-weight: 700;
                line-height: 16px;
                display: flex;
                gap: 20px;
                margin-bottom: 10px;

                .user-info{
                    display: flex;
                    width: 40%;
                    justify-content: space-between;
                    .user-img-container{
                        height: 24px;
                        width: 24px;
                        line-height: 24px;
                    }
                }

                input{
                    display: inline;
                    margin-right: 4px;
                    height: 1px;
                    width: 1px;
                    clip: rect(1px, 1px, 1px, 1px);
                    overflow: hidden;
                    pointer-events: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    line-height: 20px;
                    margin-bottom: 12px;
                    outline: none;
                    padding: 8px 12px;
                    transition-duration: 85ms;
                    transition-property: background-color,border-color,box-shadow;
                    transition-timing-function: ease;
                    background-color: #fafbfc;
                    border: none;
                    border-radius: 3px;
                    box-shadow: inset 0 0 0 2px #dfe1e6;
                    box-sizing: border-box;
                }



            }
        }
    }
}