// Task
.task-preview {
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    align-content: center;
    min-height: 32px;
    margin: 0;
    box-shadow: 0 1px 0 #c0c6d0;
    background: #fff;
    padding: 5px 8px 3px;
    border-radius: 3px;
    font-size: 0.875rem;
    transition: background-color 0.1s;
    cursor: pointer;
    margin-bottom: 4px;
}

.add-task-open {
    textarea {
        background-color: #fff;
        box-shadow: 0 1px 0 #c0c6d0;
        border: none;
        outline: none;
        resize: none;
        padding: 6px 8px 2px;
        height: 75px;
        overflow-wrap: break-word;
        cursor: text;
        border-radius: 3px;
        width: 100%;
        line-height: 20px;
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
        box-shadow: 0 1px 0 #c0c6d0;
    }
}

// Group
.add-task-open.group {
    textarea {
        height: 32px;
        box-shadow: inset 0 0 0 2px #0079bf;
    }

}
