.task-preview{
    display: flex;
    flex-direction: column;
    align-content: center;
    min-height: 32px;
    margin: 0;
    box-shadow: 0 1px 0 #c0c6d0;
    background: #fff;
    padding: 5px 8px 3px;
    border-radius: 3px;
    font-size: .875rem;
    transition: background-color .1s;
    cursor: pointer;
    margin-bottom: 4px;
}

.add-task-open{
    textarea{
        background-color: #fff;
        box-shadow: 0 1px 0 #c0c6d0;
        border: none;
        outline: none;
        resize: none;
        padding: 8px;
        height: 70px;
        display: inline-block;
        cursor: text;
        border-radius: 3px;
        width: 100%;

    }
}