.board-app-wrapper { 
    height: 100vh;
    padding-bottom: 10px;
    background-size: cover!important;
    background-position: 50%!important;
    background-attachment: fixed!important;

    .board-app {
        overflow-y: hidden;
        width: 100%;
        height: 100vh;
        display: flex;
        padding: 0px 13px 8px 13px;
    

                /* Track */
                &::-webkit-scrollbar-track {
                    background: #00000026;
                    border-radius: 10px;
    
                }
                
                /* Handle */
                &::-webkit-scrollbar-thumb {
                    background-color: #7e8386b7;
                    border-radius: 4px;
    
                }
        
                &::-webkit-scrollbar {
                    height: 12px;
                    width: 12px;
                  }
    }
}

