.board-app-wrapper { 
    height: 100vh;


    .board-app {
        padding-bottom: 10px;
        overflow-y: hidden;
    
                /* Track */
                &::-webkit-scrollbar-track {
                    background: #00000026;
                    border-radius: 10px;
    
                }
                
                /* Handle */
                &::-webkit-scrollbar-thumb {
                    background-color: #7e8386b7;
                    border-radius: 4px;
    
                }
        
                &::-webkit-scrollbar {
                    height: 12px;
                    width: 12px;
                  }
    }
}

