.task-details-page {
    background-color: #000000a3;
    height: 100vh;
    padding-top: 50px;
    color: #172b4d;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    .task-details-modal {
        width: rem(768px);
        position: fixed;
        transform: translate(-50%);
        left: 50%;
        top: 50px;
        min-height: 600px;
        margin: auto;
        background-color: whitesmoke;

        display: flex;
        flex-direction: column;

        // GENERAL

        .details-primary-btn {
            background-color: #091e420a;
            color: #172b4d;
            border: none;
            border-radius: 3px;
            height: 32px;
            padding: 6px 12px;
        }

        textarea {
            border: none;
            border-radius: 3px;
            text-decoration: none;
            resize: none;
        }

        ::placeholder {
            color: #172b4d;
            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans,
                Helvetica Neue, sans-serif;
        }

        .primary-icon {
            height: 24px;
            width: 24px;
            position: absolute;
            left: -40px;
            top: 0px;
        }

        // COVER
        .details-cover {
            height: 160px;
            background-color: rgb(55, 95, 168);

            .close-modal-btn {
                border-radius: 50%;
                color: #42526e;
                height: 40px;
                width: 40px;
                margin: 4px;
                padding: 4px;
                border: none;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 2;

                &.dark {
                    background-color: #00000014;
                    color: #42526e;
                }
            }
        }

        // HEADER
        .details-header {
            margin: 12px 40px 8px 56px;
            position: relative;
            min-height: 32px;
            background-color: inherit;

            .header-icon {
            }

            textarea {
                overflow: hidden;
                overflow-wrap: break-word;
                height: rem(32.8px);
                font-size: rem(20px);
                font-weight: 600;
                color: #172b4d;
                line-height: rem(24px);
                margin: -4px -8px;
                padding: 4px 8px;
                background-color: rgba(255, 255, 255, 0);
                width: 100%;

                &:focus {
                    background-color: #fff;
                    box-shadow: inset 0 0 0 2px #0079bf;
                    outline: none;
                }
            }

            .header-sub-title {
                color: grey;
                font-size: rem(14px);

                span {
                    text-decoration: underline;
                }
            }
        }

        // Main-vontent
        .main-content {
            display: flex;
            width: 100%;

            .main-content-icon { 
                top: 8px;
            }

            // MAIN-COL
            .main-col {
                width: 71.8%;
                padding: 0 8px 8px 16px;
                position: relative;
                margin: 0;

                // GENERAL
                h3 {
                    margin: 0;
                    display: inline-block;
                    min-height: rem(18px);
                    min-width: rem(40px);
                    font-weight: 600;
                }

                .title-container {
                    min-height: rem(32px);
                    display: flex;
                    align-items: center;
                    margin: 0 0 4px 40px;
                    padding: 8px 0;
                    position: relative;

                    .details-primary-btn { 
                        position: absolute;
                        right: 5px;
                    }
                }

                // DESCRIPTION
                .description-container {
                    margin-bottom: rem(24px);
                    position: relative;
                    display: flex;
                    flex-direction: column;

                    .description-text-area {
                        display: block;
                        min-height: rem(40px);
                        padding: 8px 12px;
                        background-color: #091e420a;
                        margin: 0 0 12px 40px;
                        transition: all 0.4s;
                        cursor: pointer;

                        &:hover {
                            background-color: #091e4214;
                            border: none;
                            box-shadow: none;
                            color: #091e42;
                        }

                        &:focus {
                            background-color: #fff;
                            box-shadow: inset 0 0 0 2px #0079bf;
                            min-height: 108px;
                            border: 0 none #fff;
                            outline: none;
                        }
                    }

                    .description-edit-container {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin: 0 0 0 40px;

                        .save-btn {
                            background-color: #0079bf;
                            border: none;
                            color: #fff;
                            margin-right: 4px;
                            padding: 6px 12px;
                            border-radius: 3px;
                            font-size: rem(14px);
                        }
                    }

                    .description-icon {
                        position: absolute;
                        left: -40px;
                        top: 4px;
                    }
                }

                // ACTIVITY
                .activity-container {
                    margin-bottom: rem(20px);
                    position: relative;
                    display: flex;
                    flex-direction: column;

                    .comment-general-box {
                        overflow: hidden;
                        overflow-wrap: break-word;
                        height: 20px;
                        padding: 8px 12px;
                        border-radius: 3px;
                        border: none;
                        box-shadow: none;
                        background-color: white;
                        box-sizing: initial;
                        min-height: 20px;
                        resize: none;
                        flex: 1;
                        box-shadow: inset 0 0 0 1px rgb(9 30 66 / 13%);
                    }

                    .title-container {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }

                    .text-area-container {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        margin: 0 0 0 40px;

                        .save-btn {
                            position: absolute;
                            bottom: 10px;
                            left: 10px;
                            background-color: #091e420a;
                            border: none;
                            color: #a5adba;
                            display: inline-block;
                            padding: 6px 12px;
                        }

                        .add-icons-options {
                            display: flex;
                            position: absolute;
                            bottom: 10px;
                            right: 10px;

                            :not(:last-child) {
                                margin-right: 15px;
                            }
                        }
                    }

                    .input-activity-box {
                        cursor: pointer;
                        &:focus {
                            padding-bottom: 56px;
                            transition-duration: 85ms;
                            transition-property: padding-bottom;
                            transition-timing-function: ease;
                            outline: none;
                        }
                    }
                }
            }

            // Side-Bar
            .side-bar {
                height: 100%;
                padding: 0 16px 8px 8px;
                flex: 1;
                // border: rgb(194, 111, 111) 1px solid;

                h3 {
                    color: #5e6c84;
                }

                .add-to-card {
                    margin-bottom: 24px;
                }

                .button-link {
                    background-color: #091e420a;
                    color: #172b4d;
                    border: none;
                    border-radius: 3px;
                    height: 32px;
                    padding: 6px 12px;
                    width: 100%;
                    margin-bottom: 8px;
                    display: block;
                    display: flex;
                    align-items: center;

                    :first-child {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
