.task-details-page {
    background-color: #000000a3;
    min-height: 130vh;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 15;
    padding-top: 50px;
    color: #172b4d;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    body .board-app { 
        position: fixed;
    }

    .task-details-modal {
        z-index: 20;
        width: rem(768px);
        position: relative;
        transform: translate(-67%);
        left: 50%;
        top: 50px;
        min-height: 600px;
        margin: auto;
        background-color: whitesmoke;

        display: flex;
        flex-direction: column;

        .close-modal-btn {
            border-radius: 50%;
            color: #42526e;
            background-color: #00000014;
            height: 40px;
            width: 40px;
            margin: 4px;
            padding: 4px;
            border: none;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover { 
                background-color: #00000029;
            }

            &.dark {
                background-color: #00000014;
                color: #42526e;
            }
        }

        // GENERAL

        h4 {
            color: #5e6c84;
            font-size: 12px;
            font-weight: 600;
            line-height: 20px;
            margin-bottom: 4px;
        }

        .details-primary-btn {
            background-color: #091e420a;
            color: #172b4d;
            border: none;
            border-radius: 3px;
            height: 32px;
            padding: 6px 12px;
        }

        textarea {
            border: none;
            border-radius: 3px;
            text-decoration: none;
            resize: none;
            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans,
                Helvetica Neue, sans-serif;
        }

        .main-input {
            background-color: #fafbfc;
            border: none;
            border-radius: 3px;
            box-shadow: inset 0 0 0 2px #dfe1e6;
            line-height: 20px;
            outline: none;
            padding: 8px 12px;
            transition-duration: 85ms;
            transition-property: background-color, border-color, box-shadow;
            transition-timing-function: ease;
            color: #172b4d;
            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans,
                Helvetica Neue, sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
        }

        ::placeholder {
            color: #172b4d;
            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans,
                Helvetica Neue, sans-serif;
        }

        .primary-icon {
            height: 24px;
            width: 24px;
            position: absolute;
            left: -40px;
            top: 0px;
        }

        // COVER

        // Main-vontent
        .main-content {
            display: flex;
            width: 100%;

            .main-content-icon {
                top: 8px;
            }

            // MAIN-COL
            .main-col {
                width: 71.8%;
                padding: 0 8px 8px 16px;
                position: relative;
                margin: 0;

                // GENERAL
                h3 {
                    margin: 0;
                    display: inline-block;
                    min-height: rem(18px);
                    min-width: rem(40px);
                    font-weight: 600;
                }

                .title-container {
                    min-height: rem(32px);
                    display: flex;
                    margin: 0 0 4px 40px;
                    padding: 8px 0;
                    position: relative;

                    .details-primary-btn {
                        position: absolute;
                        right: 5px;
                    }
                }

                // DESCRIPTION

                // ACTIVITY
            }

            // Side-Bar
            .side-bar {
                height: 100%;
                padding: 0 16px 8px 8px;
                flex: 1;
                // border: rgb(194, 111, 111) 1px solid;

                h3 {
                    color: #5e6c84;
                }

                .add-to-card {
                    margin-bottom: 24px;
                }

                .button-link {
                    background-color: #091e420a;
                    color: #172b4d;
                    border: none;
                    border-radius: 3px;
                    height: 32px;
                    padding: 6px 12px;
                    width: 100%;
                    margin-bottom: 8px;
                    display: block;
                    display: flex;
                    align-items: center;

                    :first-child {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
