.workspace-container{
    .boards-wrapper{
        width: 100%;
        max-width: 1000px;
        min-width: 288px;
    }

    .boards-preview-title{
        font-size: 16px;
        font-weight: 700;
        margin-inline-start: 5px;
        margin-top: 6px;
        margin-bottom: 11px;
        > *:first-child {
            font-size: 21.5px;
            margin-inline-end: 10px;
        }

    }

    
}
