.task-details-modal {
    .activity-container {
        margin-bottom: rem(20px);
        position: relative;
        display: flex;
        flex-direction: column;

        .comment-general-box {
            overflow: hidden;
            overflow-wrap: break-word;
            height: 20px;
            padding: 8px 12px;
            border-radius: 3px;
            border: none;
            box-shadow: none;
            background-color: white;
            box-sizing: initial;
            min-height: 20px;
            resize: none;
            flex: 1;
            box-shadow: inset 0 0 0 1px rgb(9 30 66 / 13%);
        }

        .title-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .text-area-container {
            position: relative;
            display: flex;
            flex-direction: column;
            margin: 0 0 0 40px;

            .save-btn {
                position: absolute;
                bottom: 10px;
                left: 10px;
                background-color: #091e420a;
                border: none;
                color: #a5adba;
                display: inline-block;
                padding: 6px 12px;
                cursor: auto;

                &.activate {
                    background-color: #0079bf;
                    color: #fff;
                    border-radius: 3px;
                    font-size: rem(14px);
                    cursor: pointer;

                    &:hover {
                        background-color: #026aa7;
                    }
                }
            }

            .add-icons-options {
                display: flex;
                position: absolute;
                bottom: 10px;
                right: 10px;

                :not(:last-child) {
                    margin-right: 15px;
                }
            }
        }

        .input-activity-box {
            cursor: pointer;
            &:focus {
                padding-bottom: 56px;
                transition-duration: 85ms;
                transition-property: padding-bottom;
                transition-timing-function: ease;
                outline: none;
            }
        }

        // Activity Preview
        .activity-preview-container {
            width: 100%;
            overflow-y: auto;
            max-height: 300px;
            .activity-preview {
                display: flex;
                align-items: center;
                width: 100%;
                min-height: 32px;
                padding: 8px 0;

                .dynamic-action-modal {
                    box-shadow: rgb(0 0 0 / 2%) 4px 4px 5px;
                }

                .member-avatar {
                    height: 32px;
                    width: 32px;
                    margin-right: 8px;

                    .with-image {
                    }
                }

                .activity-info {
                    display: flex;
                    flex-direction: column;

                    h2 {
                        word-wrap: break-word;
                        margin: 0;
                        font-weight: 500;
                        font-size: 12px;

                        span {
                            font-weight: 700;
                            color: #172b4d;
                            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu,
                                Droid Sans, Helvetica Neue, sans-serif;
                            font-size: 14px;
                            line-height: 20px;
                        }
                    }

                    p {
                        color: #5e6c84;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 20px;
                        margin: 0;
                    }
                }

                .comment-info {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    p {
                        color: #5e6c84;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 20px;
                        margin: 0;

                        span {
                            font-weight: 700;
                            color: #172b4d;
                            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu,
                                Droid Sans, Helvetica Neue, sans-serif;
                            font-size: 14px;
                            line-height: 20px;
                        }
                    }

                    .comment-preview {
                        padding: 8px 12px;
                        overflow-wrap: break-word;
                        word-break: break-word;
                        color: #172b4d;
                        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans,
                            Helvetica Neue, sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20px;
                        cursor: auto;
                        background-color: #fff;
                        border-radius: 3px;
                        box-shadow: 0 1px 2px -1px #091e4240, 0 0 0 1px #091e4214;
                        // margin: 4px 2px 4px 0;
                        width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}
