.checklist-container {
    .add-item-btn {
        margin-left: 40px;
    }

    .adding-item-section {
        margin-left: 40px;

        textarea {
            width: 100%;
            display: block;
            min-height: rem(40px);
            padding: 8px 12px;
            background-color: #091e420a;
            transition: all 0.4s;
            cursor: pointer;

            &:hover {
                background-color: #091e4214;
                border: none;
                box-shadow: none;
                color: #091e42;
            }

            &:focus {
                background-color: #fff;
                box-shadow: inset 0 0 0 2px #0079bf;
                border: 0 none #fff;
                outline: none;
            }
        }

        .add-item-controllers {
            display: flex;
            align-items: center;
            margin-top: 10px;
        }

        .primary-blose-btn { 
            background-color: inherit;
            border: none;
            font-size: 0.875rem;
        }
    }

    .checklist-main-btn {
        background-color: #091e420a;
        color: $clr1;
        border: none;
        border-radius: 3px;
        height: 32px;
        padding: 6px 12px;
        
        &:hover { 
            background-color: #091e4214;
        }
    }

    .checkbox-icon {
        position: absolute;
        background-color: #fafbfc;
        border-radius: 2px;
        box-shadow: inset 0 0 0 2px #dfe1e6;
        top: 5px;
        left: 0;
        width: 16px;
        cursor: pointer;
    }

    .title-container {
        display: flex;
        justify-content: space-between;

        // ICON
        .btns-container {
            display: flex;
            flex-direction: row;
            align-items: center;

            :not(:last-child) {
                margin-right: 15px;
            }
        }
    }

    .editing-section {
        width: inherit;
        position: relative;
        display: flex;
        flex-direction: column;
        padding-bottom: 9px;
        margin-left: 40px;

        textarea {
            width: inherit;
            overflow: hidden;
            overflow-wrap: break-word;
            height: 54px;
            background: #091e420a;
            border-color: #091e4221;
            box-shadow: inset 0 0 0 1px #091e4221;
            margin-bottom: 4px;
            font-weight: 700;
            padding: 8px 12px;
            border-radius: 3px;
            color: $clr1;
            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans,
                Helvetica Neue, sans-serif;
            outline: none;
            border: none;
        }

        .edit-checklist-controllers {
            .save-btn {
                background-color: #0079bf;
                border: none;
                box-shadow: none;
                color: #fff;
                padding: 6px 12px;
            }
        }
    }

    // TODO-List
    .todo-list {
        min-height: 10px;

        .todo-preview {
            border-radius: 3px;
            position: relative;
            padding-left: 40px;
            width: 100%;
            transition: 0.3s ease-in-out;

            
            .more-icon {
                position: absolute;
                right: 20px;
                top: 10px;
                cursor: pointer;
                color: #42526e;
                font-size: 16px;
                opacity: 0;
            }

            &:hover {
                .more-icon {
                    opacity: 1;
                }
            }

            .save-btn {
                background-color: #0079bf;
                border: none;
                box-shadow: none;
                color: #fff;
                padding: 6px 12px;
            }

            
            .checkbox-checked, .checkbox-blank {
                position: absolute;
                left: 0;
                top: 5px;
                cursor: pointer;
                // border-radius: 2px;
                height: 19px;
                width: 19px;
                color: #dfe1e6;

            }

            .checkbox-checked{
                color: #0079bf;
                // box-shadow: inset 0 0 0 2px #0079bf;

            }

            // Normal - no editing - Preview
            .todo-item {
                background-color: inherit;
                width: 100%;
                border-radius: 3px;
                position: relative;
                cursor: pointer;

                &:hover {
                    background-color: #091e420a;
                }

                &:focus {
                    overflow: hidden;
                    overflow-wrap: break-word;
                    height: 56px;
                    background: #091e420a;
                    border-color: #091e4221;
                    box-shadow: inset 0 0 0 1px #091e4221;
                    margin-bottom: 4px;
                    border: none;
                    outline: none;
                }

                &.checked {
                    text-decoration-line: line-through;
                }
            }
            .edit-todo-controllers {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .edit-icons-options {
                    position: relative;
                    :not(:last-child) {
                        margin-right: 15px;
                        
                    }
                }
            }
        }
    }
}
