.date-preview-container {
    display: flex;
    align-items: center;
    button {
        color: #172b4d;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans",
            "Helvetica Neue", sans-serif;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        box-sizing: border-box;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        cursor: pointer;
        padding: 6px 12px;
        text-decoration: none;
        white-space: normal;
        background-color: rgba(9, 30, 66, 0.04);
        box-shadow: none;
        border: none;
        transition-property: background-color, border-color, box-shadow;
        transition-duration: 85ms;
        transition-timing-function: ease;

        .due-soon {
            color: #172b4d;
            background-color: #f2d600;
            font-size: 12px;
            line-height: 16px;
            padding: 0 4px;
            border-radius: 2px;
            margin: auto 0 auto 8px;
        }

        .complete {
            color: #ffffff;
            background-color: #61bd4f;
            font-size: 12px;
            line-height: 16px;
            padding: 0 4px;
            border-radius: 2px;
            margin: auto 0 auto 8px;
        }

        .over-due {
            color: #ffffff;
            background-color: #ec9488;
            font-size: 12px;
            line-height: 16px;
            padding: 0 4px;
            border-radius: 2px;
            margin: auto 0 auto 8px;
        }
    }

    .checkbox-checked,
    .checkbox-blank {
        // position: absolute;
        // left: 0;
        // top: 5px;
        cursor: pointer;
        // border-radius: 2px;
        height: 19px;
        width: 19px;
        color: #dfe1e6;
    }

    .checkbox-checked {
        color: #0079bf;
        // box-shadow: inset 0 0 0 2px #0079bf;
    }

    .action-container {
        .drop-down-container {
            svg {
                height: 16px;
                width: 16px;
                line-height: 16px;
            }
        }
    }
}
