// HEADER
.details-header {
    margin: 12px 40px 8px 56px;
    position: relative;
    min-height: 32px;
    background-color: inherit;

    textarea {
        height: rem(32.8px);
        font-size: rem(20px);
        font-weight: 600;
        line-height: rem(24px);
        margin: -4px -8px;
        padding: 4px 8px;
        background-color: rgba(255, 255, 255, 0);
        width: 100%;

        &:focus {
            outline: none;
        }

        &:hover { 
            background-color: inherit;
        }
    }

    .header-sub-title {
        color: grey;
        font-size: rem(14px);

        span {
            // text-decoration: underline;
        }
    }
}