.details-cover {
    height: 160px;
    background-color: rgb(55, 95, 168);

    .close-modal-btn {
        border-radius: 50%;
        color: #42526e;
        height: 40px;
        width: 40px;
        margin: 4px;
        padding: 4px;
        border: none;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;

        &.dark {
            background-color: #00000014;
            color: #42526e;
        }
    }
}