:root {
}

* {
    box-sizing: border-box;
}

html {
    line-height: 1.6;
}

::selection {
    background-color: lighten($clr1, 20%);
    color: $clr6;
}

body {
    margin: 0;
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;

}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    margin: 0 0 em(20px, 50px);
    font-weight: 400;
}

h1 {
    font-size: rem(50px);
}

p {
    margin: 0 0 1em;
    max-width: 50ch;
}
