button {
    cursor: pointer;
}

.primary-close-btn {
    font-size: rem(14px);
    padding: 4px 8px;
    background-color: inherit;
    border: none;
}

.secondary-btn {
    background-color: #0079bf;
    border: none;
    color: #fff;
    margin-right: 4px;
    padding: 6px 12px;
    border-radius: 3px;
    font-size: rem(14px);
}

.delete-primary-btn {
    background-color: #b04632;
    border: none;
    color: #fff;
    margin-right: 4px;
    padding: 6px 12px;
    border-radius: 3px;
    font-size: rem(14px);
}