button {
    cursor: pointer;
}

.primary-btn {
    position: relative;
    background-color: #091e420a;
    color: $clr1;
    border: none;
    border-radius: 3px;
    height: 32px;
    padding: 6px 12px;
    min-width: 95px;
    display: flex;
    align-items: center;
    &:hover {
        background-color: #091e4214;
    }
}

// close-icon-btn
.primary-close-btn {
    font-size: rem(14px);
    padding: 4px 8px;
    background-color: inherit;
    border: none;
}

.secondary-btn {
    background-color: #0079bf;
    border: none;
    color: #fff;
    margin-right: 4px;
    padding: 6px 12px;
    border-radius: 3px;
    font-size: rem(14px);
    &:hover {
        background-color: #026aa7;
        box-shadow: none;
    }
}

.delete-primary-btn {
    background-color: #b04632;
    color: #fff;
    border: none;
    margin-right: 4px;
    padding: 6px 12px;
    border-radius: 3px;
    font-size: rem(14px);
}

.details-secondary-close-btn-icon {
    font-size: rem(24px);
}

.details-primary-link-btn {
    background-color: #091e420a;
    color: $clr1;
    border: none;
    border-radius: 3px;
    height: 32px;
    padding: 6px 12px;
    &:hover {
        background-color: #091e4214;
    }
}
