// Font Sizes
.fs12 {
    font-size: rem(12px);
}
.fs14 {
    font-size: rem(14px);
}
.fs18 {
    font-size: rem(18px);
}
.fs20 {
    font-size: rem(20px);
}
.fs24 {
    font-size: rem(24px);
}
.fs28 {
    font-size: rem(28px);
}
.fs30 {
    font-size: rem(30px);
}

// flex helpers

.flex {
    display: flex;

    > *.full {
        flex: 1;
    }

    &.column {
        flex-direction: column;
    }
    &.justify-center {
        justify-content: center;
    }
    &.justify-space-between {
        justify-content: space-between;
    }
    &.align-center {
        align-items: center;
    }
    &.wrap {
        flex-wrap: wrap;
    }
    &.column-reverse {
        flex-direction: column-reverse;
    }
    &.justify-flex-end {
        justify-content: flex-end;
    }
    &.align-flex-start {
        align-items: flex-start;
    }
    &.full {
        flex-grow: 1;
    }
}

// Media helpers

.square-ratio {
    @include aspect-ratio(1, 1);
}
.video-ratio {
    @include aspect-ratio(16, 9);
}
.portrait-ratio {
    @include aspect-ratio(9, 16);
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.clean-link {
    text-decoration: none;
    color: inherit;
}

.hide {
    display: none;
}

.member-avatar {
    border-radius: 25em;
    height: 30px;
    width: 30px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-weight: 600;
    cursor: pointer;
}


.extra-member-avatar{
    border-radius: 25em;
    height: 30px;
    width: 30px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #172b4d;
    font-weight: 600;
    cursor: pointer;
    background-color: #ebecf0;
}

.basic-textarea {
    overflow: hidden;
    overflow-wrap: break-word;
    border: none;
    text-decoration: none;
    resize: none;
    box-shadow: none;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue,
        sans-serif;
    cursor: pointer;
    outline: none;

    color: $clr1;
    background-color: #091e420a;
    border-radius: 3px;
    padding: 8px 12px;

    ::placeholder {
        color: $clr1;
    }

    &:focus {
        background-color: #fff;
        box-shadow: inset 0 0 0 2px #0079bf;
    }

    &:hover {
        background-color: #091e4214;
        color: #091e42;
    }
}

.blind-color-sign-expended-svg {
    width: 16px;
    margin-right: 10px;
    color: white !important;
}

.primary-input {
    background-color: #091e420a;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    display: block;
    min-height: 40px;
    padding: 8px 12px;
    text-decoration: none;
    outline: none;

    &:hover {
        background-color: #091e4214;
        border: none;
        box-shadow: none;
    }

    &:focus {
        background-color: #fff;
        box-shadow: inset 0 0 0 2px #0079bf;
    }
}
