// .more-icon{
//     transform: rotate(90deg);
// }

.checkbox-icon{
    cursor: pointer;
}


.checkbox-checked, .checkbox-blank {
    position: absolute;
    left: 0;
    top: 5px;
    cursor: pointer;
    // border-radius: 2px;
    height: 19px;
    width: 19px;
    color: #dfe1e6;

}

.checkbox-checked{
    color: #0079bf;
    // box-shadow: inset 0 0 0 2px #0079bf;

}